* {
  text-decoration: none;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f171e;
  color: #fff;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 12px;
}

main {
  margin: 0 20px;
}

.fa {
  margin: 0 3px;
  font-size: 1.2rem;
  font-weight: lighter;
}

.fa-play-circle {
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.navbar .navbar__logoIcon {
  width: 140px;
}
.navbar .navbar__logoIcon img {
  width: 100%;
}
.navbar .navbar__links {
  align-self: center;
}
.navbar .navbar__links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar .navbar__links ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.caroselloBtn__buttonRight {
  position: absolute;
  left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 135px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.35;
  z-index: 1;
  transition: 0.35s;
  user-select: none;
}
.caroselloBtn__buttonRight:hover {
  background: linear-gradient(90deg, #000000e3 9%, #000000c2 39%, #00000079 71%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.75;
}
.caroselloBtn__buttonRight h6 {
  pointer-events: none;
}

.caroselloBtn__buttonLeft {
  position: absolute;
  right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 135px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.35;
  z-index: 1;
  transition: 0.35s;
  user-select: none;
}
.caroselloBtn__buttonLeft:hover {
  background: linear-gradient(270deg, #000000e3 9%, #000000c2 39%, #00000079 71%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.75;
}
.caroselloBtn__buttonLeft h6 {
  pointer-events: none;
}

.wrapperList {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 195px;
  margin: 0 50px;
}
.wrapperList .card {
  margin: 0 5px;
}
.wrapperList .card button {
  background-color: transparent;
  border: 0;
  color: #fff;
}
.wrapperList .card img {
  height: 135px;
  width: 250px;
  object-fit: cover;
  object-position: 0 10%;
  cursor: pointer;
}
.wrapperList .card:hover {
  margin-top: -135px;
  border-radius: 4px;
  box-sizing: border-box;
  transform: scale(1.05);
  transition: 0.35s;
}
.wrapperList .card:hover .cardContent {
  display: block;
  position: absolute;
  border: 2px solid #00a8e1;
}
.wrapperList .card .cardContent {
  padding: 0;
  min-width: 232px;
  display: none;
  background-color: #0f171e;
  padding: 0 7px 5px 7px;
}
.wrapperList .card .cardContent .cardContent__statusBar {
  display: flex;
  cursor: pointer;
}
.wrapperList .card .cardContent .cardContent__statusBar a {
  color: #fff;
  display: flex;
}
.wrapperList .card .cardContent .cardContent__statusBar a button {
  margin: 0 6px 0 0;
  padding: 0;
  cursor: pointer;
}
.wrapperList .card .cardContent .cardContent__statusBar a button:hover {
  color: #00a8e1;
}
.wrapperList .card .cardContent .cardContent__statusBar div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.wrapperList .card .cardContent .cardContent__desc {
  margin: 7px 0;
  height: 100px;
}
.wrapperList .card .cardContent .cardContent__desc p:nth-child(1) {
  color: #00a8e1;
}
.wrapperList .card .cardContent .cardContent__desc p:nth-child(3) {
  font-size: 0.7rem;
  margin: 3px 0 0;
}
.wrapperList .card .cardContent .cardContent__info i {
  font-size: 0.7rem;
  font-style: normal;
}

.mostPopular .mostPopular__header {
  display: flex;
}
.mostPopular .mostPopular__header > * {
  margin: 15px;
}
.mostPopular .mostPopular__header > img {
  height: 100%;
  margin: auto 0;
}

footer {
  margin: 100px 0 40px 0;
  text-align: center;
  font-size: 0.8rem;
}
footer img {
  width: 125px;
}
footer a {
  margin: 0 8px;
  color: #79b8f3;
}
footer p {
  color: #8197a4;
}

@media (max-width: 676px) {
  .caroselloBtn__buttonLeft,
.caroselloBtn__buttonRight {
    display: none;
  }

  .wrapperList {
    height: 195px;
    margin: 0;
    overflow-x: visible;
  }
  .wrapperList .card {
    margin: 0 5px;
  }
  .wrapperList .card img {
    height: 135px;
    width: 250px;
  }
  .wrapperList .card:hover, .wrapperList .card:active {
    margin-top: -135px;
    box-sizing: border-box;
    transform: scale(1.05);
    transition: 0.35s;
  }
}
.addToWatchListBtn,
.rmFromWatchListBtn {
  display: none;
}

.addToCard {
  display: block;
}
.addToCard i {
  color: white;
}
.addToCard:active i {
  color: #00a8e1;
}

.watchListModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 4rem;
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.8);
  color: #00a8e1;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}

.showWatchListModal {
  opacity: 1;
  z-index: 1;
}

.watchlist__hide {
  display: none;
}

#goToWatchlist {
  display: none;
  color: #00a8e1;
  font-weight: bold;
  padding: 2.5px 7.5px;
}
#goToWatchlist:active {
  color: #fff;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./font/AmazonEmber_Rg.ttf");
}

/*# sourceMappingURL=style.css.map */
