body {
  --dark-color: #132236;
  --light-color: #dce7ed;
  --main-color: #2c58b4;
  --light-accent: #56b1db;
  background-color: var(--dark-color);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
}

button:active,
button:focus {
  outline: none;
  box-shadow: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--light-color);
}

/**** HEADER ****/

/* navbar */
header {
  position: relative;
  padding: 30px;
}

.navbar {
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: var(--main-color);
  box-shadow: 4px 0 7px #000000;
  align-items: center;
}
.navbar__logo {
  height: 20px;
  margin: 5px;
}

.navbar__links {
  display: flex;
  position: absolute;
  right: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}
.navbar__links li a {
  margin: 5px;
  color: var(--light-color);
}

/**** MAIN ****/

.wrapper {
  display: flex;
  align-items: center;
}

.sessionTitle {
  color: var(--light-color);
  font-size: 1.5rem;
  margin-left: 5px;
}

/* btn */
.btn {
  display: none;
}

/* cards */
.list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.card_body {
  position: relative;
  border-radius: 4px;
  height: 230px;
  min-width: 153px;
  max-width: 153px;
  margin: 0 5px 20px 5px;
  background-color: #132236;
  transition: all 0.2s ease-in-out;
}

.card_body img {
  mix-blend-mode: lighten;
  min-height: 230px;
  max-height: 230px;
  border-radius: 4px;
}

.card_textWrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  box-sizing: border-box;
  padding: 0 10px 5px 10px;
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 2px solid var(--main-color);
  transition: all 0.2s ease-in-out;
}

.card_body:hover .card_textWrapper {
  visibility: visible;
  opacity: 1;
}

.card_title {
  height: 30px;
  overflow: hidden;
  text-align: center;
  color: var(--light-accent);
}

.card_text {
  height: 170px;
  overflow: hidden;
  text-align: justify;
  font-size: 0.8rem;
}

/* cookies */
.banner_cookie {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #676da5;
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_cookie,
.btn_cookie {
  margin: 0.5rem;
}

.btn_cookie {
  border-radius: 10px;
  background-color: var(--light-accent);
  color: var(--dark-color);
  padding: 5px;
}

/**** FOOTER ****/
.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.footer_logo {
  height: 50px;
}
.footer_logo,
.footer_list {
  margin: 10px;
  padding: 0;
  list-style: none;
}

.footer_list li a {
  color: var(--light-color);
  font-size: 0.8rem;
}

@media (min-width: 1200px) {
  .navbar__logo {
    margin-left: 15px;
  }
  .navbar__links li {
    margin-right: 15px;
  }
  .navbar__links li a {
    color: #dce7eda8;
  }
  .navbar__links li a:hover {
    color: var(--light-color);
    text-shadow: 0 0 8px var(--light-color);
  }
  .sessionTitle {
    margin-left: 15px;
  }
  .list {
    display: flex;
    overflow-x: hidden;
  }

  .btn {
    display: block;
    margin: 0 5px 20px 5px;
    font-size: 4rem;
    min-width: 50px;
    height: 230px;
    padding: 5px;
    color: #192d468e;
  }
  #right-button {
    margin-right: 0;
    background: linear-gradient(
      270deg,
      rgba(13, 24, 38, 1) 0%,
      rgba(19, 34, 54, 0) 100%
    );
  }
  #left-button {
    margin-left: 0;
    background: linear-gradient(
      90deg,
      rgb(15, 28, 44) 0%,
      rgba(19, 34, 54, 0) 100%
    );
  }
}
